<h1>Road Bikes</h1>

<div>

  <% for bike in @bikes %>



  <p>Name: <%= bike.name %> </p>
  <p>Type: <%= bike.type %> </p>
  <p>Manufacturer: <%= bike.manufacturer.name %></p>
  <p>Cost: <%= bike.cost %> </p>
  <p>Quantity: <%= bike.quantity %> </p>

  <form action="/bikeshop/inventory/<%= bike.id %>/delete" method="POST"><input type="submit" value="Delete"></form>

<hr>
  <% end %>

</div>
